[user]
  name = Diego Fliess
  email = df@gmail.com
[alias]
  st = status
  co = checkout
  c = commit -am
  rb = rebase
  br = branch
  df = diff
  lg = log --graph --name-status --oneline
[color]
   ui = true
[core]
	excludesfile = ~/.gitignore
[push]
	default = simple
